<form novalidate [formGroup]="form" (submit)="onSubmit(form.value)">
  <div>
    <mat-form-field  class="full-width">
      <mat-label>Collection Date</mat-label>
      <input matInput
             type="text"
             name="collectionDate"
             placeholder="Collection Date"
             formControlName="collectionDate">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="full-width">
      <mat-label>Collection Time</mat-label>
      <input matInput
             type="text"
             name="collectionTime"
             placeholder="Collection Time"
             formControlName="collectionTime">
    </mat-form-field>
  </div>

  <p></p>
  <div>
    <button [disabled]="!form.valid" mat-button mat-raised-button color="primary" class="full-width">
      Next
    </button>
    <span class="small-space"></span>
  </div>
</form>
