<div style="background: #ccc; height: 1px;"></div>
<div class="x-small-space"></div>

<!--<div class="small-space"></div>-->


<div class="checkout-subsection-heading">Your items</div>

<div class="cart-items-wrapper">
  <div *ngFor="let cartItem of woocommerceCartService.cart" class="cart-item">
    <div class="cart-add-to-cart">
      <app-add-to-cart
        [quantity]="cartItem.quantity"
        [cartItem]="cartItem"></app-add-to-cart>
    </div>
    <div class="cart-item-details">
      <span class="xx-small-space horizontal"></span>
      Shirt
      <div>
        <div class="xx-small-space"></div>
        <span class="xx-small-space horizontal"></span>
        <img src="https://odesk-prod-portraits.s3.amazonaws.com/Users:diyen1:PortraitUrl_100?AWSAccessKeyId=AKIAIKIUKM3HBSWUGCNQ&Expires=2147483647&Signature=MhyS4AF3oZke%2BKKdNzwSGwROuzA%3D&1548189085868"/>
      </div>
    </div>
    <div class="cart-item-price">
      {{ cartItem.quantity * cartItem.price | currency:'XAF':'':'1.0-0' }} frs <span
      class="xx-small-space horizontal"></span>
      <a class="text-icon" (click)="woocommerceCartService.removeFromCart(cartItem, -1)">x</a>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<div class="x-small-space"></div>
<div><a routerLink="/search">Add Item</a></div>

<div class="x-small-space"></div>
<div style="background: #ccc; height: 1px;"></div>
<div class="x-small-space"></div>


<div class="x-small-space"></div>
<div>
  <mat-form-field class="full-width" appearance="fill">
    <!--<mat-label>Voucher code</mat-label>-->
    <input matInput
           type="text"
           name="voucher_code"
           placeholder="Enter voucher code">
  </mat-form-field>
</div>
<div class="small-space"></div>

<div class="cart-items-wrapper">
  <div class="cart-item-details"><strong>Total</strong></div>
  <div class="cart-item-price"><strong>{{ woocommerceCartService.totalPrice | currency:'XAF':'':'1.0-0' }}
    frs</strong></div>
  <div class="clearfix"></div>
</div>
<div class="xx-small-space"></div>
<div class="checkout-subsection-heading">10,000 frs minimum order</div>

<div class="x-small-space"></div>
<div style="background: #ccc; height: 1px;"></div>
