body {
  margin: 0;
  font-family: Roboto,"Helvetica Neue",sans-serif;
}


/*
body {
  font-size: 14px;
}

h1, h2, h3, h4 {
  margin: 0;
  font-weight: bold;

  &::before {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 0.75em solid unquote("rgb(#{$color-accent})");
    border-right: 0.4em solid transparent;
  }
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 27px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 16px;
}
*/
