<form novalidate [formGroup]="form" (submit)="onSubmit(form.value)">
  <div class="small-space"></div>
  <div>
    <strong>Town / City</strong><br>
    <mat-form-field>
      <mat-select
        formControlName="addressLine2"
        matNativeControl required title="Town / City<">
        <mat-option value="buea">Buea</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="x-small-space"></div>

  <div>
    <strong>Quarter / Locality</strong><br>
    <mat-form-field>
      <mat-select
        name="addressLine1"
        formControlName="addressLine1"
        matNativeControl required>
        <mat-option value="Tarred Malingo">Tarred Malingo</mat-option>
        <mat-option value="Un-tarred Malingo">Un-tarred Malingo</mat-option>
        <mat-option value="Fotabe House">Fotabe House</mat-option>
        <mat-option value="Check point">Check point</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <p></p>
  <div>
    <button [disabled]="!form.valid" mat-button mat-raised-button color="primary" class="full-width">
      Next
    </button>
    <span class="small-space"></span>
  </div>
</form>
