<mat-toolbar color="primary" class="navbar">
  <button class="nav-back" (click)="router.navigate(['home'])">
    <mat-icon>arrow_backward</mat-icon>
  </button>

  <!--<mat-form-field class="full-width">-->
    <!--<input matInput type="text" placeholder="Search"> &lt;!&ndash; formControlName="search" &ndash;&gt;-->
  <!--</mat-form-field>-->

  <input class="nav-search-field" type="text" placeholder="Search">

  <mat-icon>close</mat-icon>
  <mat-icon>search</mat-icon>
</mat-toolbar>


<mat-toolbar class="placeholder-toolbar" color="primary">
  <h4 class="nav-title">title</h4>
</mat-toolbar>
